.drawer{
    z-index: 20000000;
}
.login_input{
    width: 80%;
    margin: auto;
    margin-top: 1.5rem;
}
.login_input input{
    outline: none;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 0.5rem;
    height: 2.5rem;
    padding-left: 0.8rem;
}
.head2{
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
.login_btn{
    width: 100%;
    background: black;
    color: white;
    margin-top: 1.1rem;
    margin-bottom: 1.5rem;
    height: 2.5rem;
    letter-spacing: 2px;
}
